# ===================================
# Python
# ===================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===================================
# Virtual Environment
# ===================================
venv/
.env/
.venv/

# ===================================
# VS Code
# ===================================
.vscode/

# ===================================
# Logs
# ===================================
*.log

# ===================================
# Selenium Debug Files
# ===================================
*_debug.html
oliz_debug.html
daraz_debug.html
hukut_debug.html

# ===================================
# OS Files
# ===================================
.DS_Store
Thumbs.db

# ===================================
# Generated CSV Files
# ===================================
data/raw/*.csv
data/processed/*.csv

# ===================================
# Generated SQLite Database
# ===================================
data/processed/*.db

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# ===================================
# Jupyter
# ===================================
.ipynb_checkpoints/

# ===================================
# Temporary Files
# ===================================
*.tmp
*.bak

# Next.js
frontend/node_modules/
frontend/.next/

# Next cache
.next/
node_modules/

# TypeScript
*.tsbuildinfo